@import url("reset.css");
@import url("fonts.css");

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* 24px/16px */
  color: #637381;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Collections */

.collection {
  padding: 60px 0;
}

.tag {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  /* 24px/18px */
  text-align: center;
  text-transform: capitalize;
  color: #3056D3;
  margin-bottom: 8px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.125;
  /* 45px/40px */
  text-align: center;
  text-transform: capitalize;
  color: #212B36;
  margin-bottom: 15px;
}

.collection__text {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 70px;
}

.collection__grid-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.collection__image {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 111.111111%;
  /* 300px/270px */
  border-radius: 5px;
  overflow: hidden;
}

.collection__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
}

.collection__image img:hover {
  transform: scale(1.1);
}

.collection__price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.collection__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #212B36;
  /* 182px/270px */
}

.collection__price {
  font-weight: 700;
  color: #3056D3;
}

@media (max-width: 1110px) {
  .collection__name {
    flex: 0 1 100%;
  }

  .collection__price-box {
    gap: 0px;
  }

  .collection__image {
    margin-bottom: 15px;
  }
}

@media (max-width: 1100px) {
  .collection__grid-area {
    gap: 15px;
  }

  .collection__text {
    margin-bottom: 40px;
  }
}

@media (max-width: 920px) {
  .collection__name {
    font-size: 18px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 767.98px) {
  .collection {
    padding: 30px 0;
  }

  .collection__grid-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .collection__grid-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .collection__text {
    margin-bottom: 20px;
  }

  .collection__name {
    flex: 0 1 67.407407%;
  }
}

/* Products */

.products {
  padding: 60px 0;
}

.products__text {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 70px;
}

.products__grid-area {
  display: grid;
  grid-template-columns: 40.17094% auto 40.17094%;
  /* 470px/1170px */
  /* grid-template-rows: repeat(2, 1fr); */
  grid-auto-rows: auto;
  gap: 30px;
  /* 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "products__item products__item products__item"
    "products__item products__item products__item"; */
}

.products__item {
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  background: #FFFFFF;
}


.products__item:nth-child(4n+1),
.products__item:nth-child(4n+4) {
  grid-column: span 2;
}

.products__item:nth-child(4n+2),
.products__item:nth-child(4n+3) {
  grid-column: span 1;
}

/* .products__item:nth-child(2) .products__image {
  padding-bottom: 74.57265%;
  349px/468px
} */

.products__item:nth-child(2) .products__image,
.products__item:nth-child(3) .products__image {
  padding-bottom: 74.57265%;
  /* 349px/468px */
}

/* .products__item:nth-child(4) {
  grid-column-start: -3;
  grid-column-end: -1;

  grid-row-start: 2;
  grid-row-end: 3;
} */

.products__top {
  position: relative;
}

.products__image {
  position: relative;
  border-radius: 7px 7px 0px 0px;
  padding-bottom: 52.245509%;
  /* 349px/668px */
}

.products__image img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px 7px 0px 0px;
}

.products__top:hover .products__icons {
  opacity: 1;
  visibility: visible;
}

.products__icons {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  gap: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  cursor: pointer;
}

.icon__button,
.icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  border-radius: 4px;
}

.products__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products__category {
  font-weight: 600;
  color: #637381;
  position: relative;
}

.category__discount::after {
  content: "-50% Flat Discount";
  position: absolute;
  right: 0;
  top: 0;
  color: #3056D3;
}

.products__name {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  color: #212B36;
}

.products__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #212B36;
}

.price__discount::before {
  content: "calc";

}