@import url("reset.css");
@import url("fonts.css");

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.67;
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  position: relative;
}

/* Header */

.header {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  color: #F8F9FA;
  text-transform: uppercase;
  margin-right: 15px;
}

.header__logo span {
  color: #DDBEA9;
}

.header__menu {
  display: flex;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-right: 25px;
}

.header__list::after {
  content: "";
  width: 1px;
  height: 25px;
  border-right: 1px solid rgba(229, 229, 229, 0.5);
}

.header__item {
  font-weight: 500;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5);
  cursor: pointer;
  position: relative;
}

.header__item:hover {
  color: #F8F9FA;
}

.header__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #DDBEA9;
  transition: all 0.3s ease 0s;
}

.header__item:hover::after {
  width: 100%;
}

.header__drop-down {
  display: flex;
  align-items: center;
}

.header__drop-down svg {
  margin-left: 5px;
  fill: #F8F9FA;
  fill-opacity: 0.5;
}

.header__drop-down:hover svg {
  fill-opacity: 1;
}

.search-header {
  display: flex;
  align-items: center;
}

.search-header__link {
  display: flex;
  align-items: center;
}

.header__active {
  color: #F8F9FA;
}

.header__active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #DDBEA9;
}

/* Main (Page-top)*/

.page-top__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0px 5px 5px 0px;
}

.page-top__content {
  padding: 330px 0 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-top__date {
  color: #E5E5E5;
}

.page-top__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  color: #F8F9FA;
  max-width: 605px;
}

.page-top__text {
  color: #E5E5E5;
  max-width: 400px;
}

/* Categories */

.categories {
  padding: 100px 0;
}

.categories__navigation {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 2.08;
  margin-bottom: 44px;
}

.categories__menu {
  color: #495057;
  cursor: pointer;
}

.categories__variants {
  display: flex;
  gap: 20px;
}

.categories__button {
  color: rgba(73, 80, 87, 0.5);
}

.categories__button:hover {
  color: #495057;
}

.active-button {
  color: #495057;
}

.categories__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 45px;
  margin: 0 -15px;
  margin-bottom: 60px;
}

.categories__card {
  flex: 0 1 33.333%;
  padding: 0 15px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
}

.card-categories__image {
  position: relative;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.card-categories__img {
  transition: all 0.3s ease;
  border-radius: 3px;
}

.card-categories__img:hover {
  opacity: 0.5;
}

.card-categories__image:hover {
  background-color: #212529;
}

.card-categories__tag {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 3px 12.5px;
  background-color: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  font-weight: 700;
  font-size: 8px;
  line-height: 2.5;
  color: #F8F9FA;
  text-transform: uppercase;
}

.card-categories__tag:hover {
  text-decoration: underline;
}

.card-categories__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.card-categories__date,
.card-categories__text,
.card-categories__author {
  line-height: 1.67;
  color: #495057;
}

.card-categories__date,
.card-categories__author {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.card-categories__date:after,
.card-categories__author::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #495057;
  transition: all 0.3s ease 0s;
}

.card-categories__date:hover::after,
.card-categories__author:hover::after {
  width: 12%;
}

.card-categories__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  color: #212529;
  transition: all 0.3s;
}

.card-categories__title:hover {
  color: #CCD5AE;
}

.card-categories__text {
  position: relative;
  padding-bottom: 15px;
  flex-grow: 1;
}

.card-categories__text::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #E5E5E5;
}

.categories__box {
  text-align: center;
}

.categories__link {
  display: inline-block;
  font-weight: 500;
  line-height: 2.08;
  color: #F8F9FA;
  padding: 8px 50px;
  background-color: #212529;
  border-radius: 3px;
  transition: all 0.3s;
}

.categories__link:hover {
  color: #212529;
  background-color: #F8F9FA;
  outline: 1px solid #212529;
}

/* Footer */

.footer {
  padding: 100px 0;
  background-color: #212529;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}

.footer__logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  color: #f8f9fa;
}

.footer__logo span {
  color: #ddbea9;
}

.footer__items,
.social-footer__items {
  display: flex;
}

.footer__item,
.social-footer__item {
  font-size: 12px;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5);
  transition: all 0.3s;
}

.footer__item:hover,
.social-footer__item:hover {
  color: #f8f9fa;
}

.footer__items li:not(:last-child),
.social-footer__items li:not(:last-child) {
  margin-right: 25px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__address,
.footer__copy {
  font-size: 12px;
  line-height: 1.67;
  color: rgba(248, 249, 250, 0.5);
}